@inherits LayoutComponentBase

<div class="custard-themed-layout">
    <div class="custard-header">
        <div class="custard-title">Custard Poker</div>
    </div>

    <main class="custard-content">
        <div class="body-container">
            @Body
        </div>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>